<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <section id="contReloj">
        <p id="pHoras"></p>
        <p>:</p>
        <p id="pMinutos"></p>
        <p>:</p>
        <p id="pSegundos"></p>
    </section>
    <section id="contSaludo"></section>
    </script>
    </body>
</html>